*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

.cabecalho{
    position: fixed;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #202020;
    z-index: 99;
}

.links{
    /* position: absolute; */
width: 93px;
height: 37px;
top: 40px;
margin-left: 90px;
margin-top: 30px;

font-family: 'Roboto Serif';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 37px;
/* display: flex; */
align-items: center;
text-align: center;
color: #FFFFFF;
}

.eventos{
    margin-left: 400px;
    width: 93px;
height: 37px;
top: 40px;
margin-top: 30px;
margin-right: 110px;

font-family: 'Roboto Serif';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 37px;
/* display: flex; */
align-items: center;
text-align: right;
color: #FFFFFF;
}

.links2{
    /* position: absolute; */
width: 93px;
height: 37px;
top: 40px;
margin-top: 30px;
margin-right: 105px;

font-family: 'Roboto Serif';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 37px;
/* display: flex; */
align-items: center;
text-align: right;
color: #FFFFFF;
}

.top{
    margin-top: 20px;
}

.sufresh{
    position: absolute;
width: 200px;
height: 50px;
left: 655px;
top: 10px;

}

.fundo{
    position: absolute;
    width: 100%;
    height: 800px;
    top: 70px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
    mix-blend-mode: normal;
}

.retangulo{
    position: absolute;
    width: 994px;
    height: 153px;
    left: 280px;
    top: 138px;

    background: rgba(255, 255, 255, 0.6);
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
}

h1{
    position: absolute;
    width: 900px;
    height: 47px;
    left: 250px;
    top: 28px;

    font-family: 'Bangers';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 68px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

h2{
    position: absolute;
    width: 682px;
    height: 43px;
    top: 98px;
    left: 160px;

    font-family: 'Bangers';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 43px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.logoladoE{
    position: absolute;
    width: 169px;
    height: 147px;
    left: 0px;
    top: 8px;
}

.logoladoR{
    position: absolute;
    width: 169px;
    height: 147px;
    right: 0px;
    top: 8px;
}

.cereja{
    position: absolute;
    width: 100%;
    height: 1025px;
    left: 0px;
    top: 870px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image\ 11.png);
}

.retangulo2{
    position: absolute;
    width: 300px;
    height: 70px;
    left: 625px;
    top: 980px;
    background: rgba(255, 255, 255, 0.71);
    border-radius: 10px;
    text-align: center;
}

.sobrenos{
    width: 200px;
    height: 30px;
    left: 58px;
    top: 20px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 82px;
    color: #000000;
}

.retangulo3{
    position: absolute;
    width: 700px;
    height: 440px;
    left: 55px;
    top: 1216px;

    background: rgba(255, 255, 255, 0.77);
}

.lorem{
    position: absolute;
    width: 650px;
    height: 400px;
    left: 25px;
    top: 20px;

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 51px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #000000;
}

.rotator{
    border: 2px solid #CC0000;
    overflow: hidden;
    margin: 10px ;
    padding:2px;
    position: relative;
    width: 200px;
    height: 50px;
    }
    #rotator img
    {
    border: 0;
    width: 200px;
    height: 50px;
    }


.titulo{
    font: 400 70px 'Roboto Condensed', sans-serif;
    top: 2000px;
    justify-content: center;
    text-align: center;
    left: 420px;
}

.diadosuco{
    font: 400 64px 'Raleway', sans-serif;
    top: 2210px;
    left: 350px;
}

.limao{
    position: absolute;
    width: 100%;
    height: 1000px;
    top: 1895px;
}

.anuncio{
    position: absolute;
    width: 200px;
    top: 2190px;
    left: 90px;
}
